.Xauthority
.antigravity/
.aws/
.bash_history
.bash_logout
.bashrc_local
.cache/
.claude-code-router/
.claude.json*
.claude/
.config/
.fltk/
.gemini/
.gnome/
.gtkrc*
.linuxmint/
.local/
.mozilla/
.npm/
.pki/
.ssh/
.sudo_as_admin_successful
.var/
.wget-hsts
.xsession-errors*
Desktop/
Downloads/
aws/
awscliv2.zip
install.sh
packages.microsoft.gpg
search_call.py
workspaces/
